body {
  background-color: rgb(0,51,102);
  color: rgba(202,234,229,255);
  font-family: 'Lora', serif
  front-weight: 10px;
   }

#logo {border-radius: 50%;}
#logo {font-weight: 30;}
.shadowed {box-shadow: 5px 5px 3px rgba(202,234,229,255); }
#logo { 
    border:5px rgba(202,234,229,255);}



h1 {
    text-transform: uppercase;
    color: rgba(202,234,229,255);
    font-family: 'Roboto', sans-serif;;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 50px;
    
    }

h2 {
    text-transform: uppercase;
    color: rgba(202,234,229,255);
    font-family: 'Roboto', sans-serif;;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;

     }

h3 {
    text-transform: uppercase;
    color: rgba(202,234,229,255);
    font-family: 'Roboto', sans-serif;;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 30px;
    
         padding: 30px;
         border-radius: 4px;
         box-shadow: 0 15px 35px rgba(50, 50, 93, .1); }

a {text-decoration: none;
   color: rgba(202,234,229,255);
   transition: 0.3s ;}

a:hover {color: darkred;}

/* Custom design with class */
 .container {
    width: 700px;
    margin: 40px auto;
  }

 .card-wight {
     margin: 20px 0px;
     text-align: center;}

 #logo { width: 120px}

.btn-blue {
    background-color: rgba(202,234,229,255);
    color: white;
    padding: 15px 20px;
    border-radius: 4px; }

.btn-blue:hover {
    background-color: darkred;
    color: white; }

.list-inline {
    list-style: none;
    padding-left: 0px;}

.list-inline li {
    display:inline;
    padding: 10px;}

.list-inline i {
    font-size: 50px;
    color:rgba(202,234,229,255);}

.list-inline i:hover { 
    font-size: 50px;
    color: darkred;}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}






